/* comparison-table start style */

.comparison-table-container {
  background-image: url(../img/compare_products_bg.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.comparison-table {
  padding: 50px 0;
}

.comprasion-h1 {
  color: #fff;
  margin-bottom: 0;
}

.comprasion-p {
  color: #fff;
  text-align: center;
  max-width: 800px;
}

/* Right column */

.position-relative-td {
  position: relative;
  padding: 0 !important;
}

.position-relative-td span {
  padding: 15px 0px;
  display: block;
}

.div-absolute-text-head {
  position: absolute;
  left: -230px;
  top: 30px;
  text-align: right;
  font-style: italic;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
}

.div-absolute-icon-head {
  position: absolute;
  display: none;
  left: -60px;
  top: 5px;
  width: 50px;
  height: 50px;
  background-image: url(../img/help.svg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.number-of-trading-systems .div-absolute-text-body, .price-tr .div-absolute-text-body {
  padding-top: 10px;
}

.price-tr .div-absolute-text-body {
  padding-top: 20px;
}

.div-absolute-text-body {
  position: absolute;
  left: -250px;
  width: 220px;
  text-align: right;
  color: #fff;
  font-size: 22px;
  font-family: 'Gilroy Extra Bold';
  line-height: 30px;
}

.div-absolute-number-body {
  position: absolute;
  left: -280px;
  width: 250px;
  text-align: right;
  font-family: 'Gilroy Extra Bold';
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  top: 10px;
}

.float-left-line {
  float: left;
  width: 50%;
  border-right: 1px solid #afb5b7;
}

.float-right-matching {
  display: flex;
  justify-content: center;
}

.lmstyle {
  padding: 18px 0 0;
  color: #425055;
  font-family: 'Gilroy';
  font-size: 20px;
  font-weight: 300;
}

.tenth-percent-tr {
  background: transparent !important;
  border-bottom: 1px solid transparent !important;
}

.tenth-percent-tr td {
  background: #f8f8f8;
}

.tenth-percent-tr td:first-child {
  border-bottom-left-radius: 50px;
}

.tenth-percent-tr td:last-child {
  border-bottom-right-radius: 50px;
}

.comprasion-table-body {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
}

.main-table-comprasion {
  background: #fff;
  border-radius: 50px;
}

.main-table-comprasion thead tr td {
  font-family: 'Gilroy Extra Bold';
  text-align: center;
  color: #fff;
  font-size: 25px;
  width: 100px;
  /* padding: 20px 50px; */
  border-right: 2px solid #afb5b7;
  background-image: linear-gradient(to top, #1aa4f4 0%, #61c6f6 78%, #75cff6 100%);
}

.main-table-comprasion thead tr td:first-child {
  border-top-left-radius: 50px;
}

.main-table-comprasion thead tr td:last-child {
  border: none;
  border-top-right-radius: 50px;
}

.main-table-comprasion td {
  text-align: center;
  border-right: 2px solid #afb5b7;
}

.main-table-comprasion tr td:last-child {
  border: none;
}

.main-table-comprasion tbody tr td {
  font-size: 22px;
  font-weight: 400;
  padding: 15px 0px;
}

.main-table-comprasion .price-tr-span {
  color: #41b4e6;
  font-size: 25px;
  font-family: 'Gilroy Extra Bold';
}

.main-table-comprasion .number-of-trading-systems-span {
  color: #425055;
  font-family: 'Gilroy';
  font-size: 22px;
  font-weight: 300;
}

.main-table-comprasion .license-duration-span {
  color: #425055;
  font-family: 'Gilroy';
  font-size: 22px;
  font-weight: 300;
}

.main-table-comprasion .price-tr {
  color: #41b4e6;
  font-size: 25px;
}

.main-table-comprasion .lines-matching td {
  font-size: 22px;
  color: #707070;
  padding: 0;
}

.tbody-table-percent-tr td {
  font-family: 'Gilroy';
  padding: 0 !important;
}

.tbody-table-percent-tr .left-percent-td-div {
  float: left;
  width: 50%;
  border-right: 1px solid #afb5b7;
  height: 100%;
  padding: 12px 0;
}

.tbody-table-percent-tr .right-percent-td-div {
  padding: 12px 0;
  height: 100%;
}

.vhidden-block {
  color: transparent;
  user-select: none;
}

/* comparison-table end style */

/* media */

@media (min-width: 1700px) {
  .main-table-comprasion thead tr td {
    font-size: 25px;
  }
}

@media (max-width: 1700px) {
  .main-table-comprasion tbody tr td {
    font-size: 20px;
    padding: 15px 40px;
  }
  .main-table-comprasion .lines-matching td {
    font-size: 18px;
  }
  .ref-broker-link td img {
    width: 35px;
  }
  .comprasion-table-body {
    margin: 0 auto;
  }
  .div-absolute-text-head {
    font-size: 24px;
    left: -210px;
  }
  .div-absolute-text-body {
    font-size: 24px;
  }
  .price-tr .div-absolute-text-body {
    padding-top: 15px;
  }
  .div-absolute-number-body {
    font-size: 24px;
    top: 15px;
  }
  .div-line-matching p {
    padding: 0 10px;
  }
}

@media (max-width: 1499px) {
  .div-absolute-text-body {
    line-height: 26px;
    left: -240px;
    width: 180px;
    font-size: 19px;
  }
  .main-table-comprasion thead tr td {
    font-size: 22px;
  }
  .div-absolute-text-head {
    font-size: 20px;
    left: -190px;
  }
}

@media (max-width: 1449px) {
  .div-absolute-text-head {
    left: -180px;
  }
  .main-table-comprasion thead tr td {
    font-size: 24px;
  }
  .position-relative-td span {
    padding: 15px 40px;
    display: block;
  }
  .main-table-comprasion thead tr td {
    padding: 18px 30px;
  }
  .main-table-comprasion tbody tr td {
    padding: 15px 0;
  }
  .ref-broker-link td img {
    width: 30px;
  }
  .main-table-comprasion .lines-matching td {
    font-size: 16px;
  }
  .number-of-trading-systems .div-absolute-text-body {
    padding-top: 15px;
  }
  .div-absolute-text-body {
    line-height: 25px;
    left: -260px;
    width: 190px;
  }
  .price-tr .div-absolute-text-body {
    padding-top: 14px;
  }
  .number-of-trading-systems .div-absolute-text-body, .license-duration .div-absolute-text-body, .ref-broker-link .div-absolute-text-body {
    padding-top: 8px;
  }
  .number-of-trading-systems .div-absolute-text-body {
    padding-top: 13px;
  }
}

@media (max-width: 1400px) {
  .comprasion-table-body {
    padding-left: 15%;
  }
  .comprasion-h1 {
    margin-bottom: 12px;
  }
  .comparison-table {
    padding: 35px 0;
  }
  .comprasion-table-text .comprasion-p {
    /* margin: 10px; */
  }
  .main-table-comprasion thead tr td {
    font-size: 22px;
  }
  .main-table-comprasion tbody tr td {
    padding: 15px 20px;
  }
  .main-table-comprasion tbody tr td {
    font-size: 17px;
  }
  .ref-broker-link td img {
    width: 27px;
  }
  .div-absolute-text-head {
    font-size: 20px;
    left: -170px;
  }
  .div-absolute-text-body {
    font-size: 16px;
    line-height: 18px;
    left: -225px;
    width: 160px;
  }
  .number-of-trading-systems .div-absolute-text-body {
    /* padding-top: 15px; */
  }
  .div-absolute-number-body {
    font-size: 22px;
  }
  .position-relative-td span {
    padding: 15px 30px;
  }
  .div-line-matching p {
    padding: 0 10px;
  }
}

@media (max-width: 1299px) {
  .main-table-comprasion thead tr td {
    font-size: 20px;
  }
  .div-absolute-icon-head {
    left: -50px;
  }
  .div-absolute-text-body {
    font-size: 15px;
    left: -200px;
    width: 150px;
    line-height: 18px;
  }
  .price-tr .div-absolute-text-body {
    padding-top: 15px;
  }
  .number-of-trading-systems .div-absolute-text-body {
    padding-top: 13px;
  }
  .div-absolute-number-body {
    font-size: 20px;
  }
  .main-table-comprasion .lines-matching td {
    font-size: 16px;
  }
  .ref-broker-link td img {
    /* width: 25px; */
  }
}

@media (max-width: 1249px) {
  .main-table-comprasion thead tr td {
    font-size: 19px;
    padding-top: 15px;
  }
}

@media (max-width: 1199px) {
  .comprasion-table-body {
    padding-left: 2%;
  }
  .div-absolute-text-head {
    display: none;
  }
  .div-absolute-text-body {
    display: none;
  }
  .div-absolute-icon-head {
    position: absolute;
    display: block;
    left: -60px;
    top: 5px;
    width: 50px;
    height: 50px;
    background-image: url(../img/help.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .div-absolute-icon-head:hover {
    /* background-image: url(../img/help_hover.svg); */
  }
}

@media (max-width: 999px) {
  .main-table-comprasion thead tr td {
    font-size: 15px;
    padding: 15px 0px;
  }
  .main-table-comprasion tbody tr td {
    font-size: 15px;
  }
  .div-absolute-icon-head {
    left: -50px;
    top: 10px;
    width: 45px;
    height: 45px;
  }
  .main-table-comprasion .lines-matching td {
    font-size: 13px;
  }
  .ref-broker-link td img {
    /* width: 21px; */
  }
  .div-absolute-number-body {
    font-size: 17px;
  }
  .position-relative-td span {
    padding: 15px 20px;
  }
  .main-table-comprasion tbody tr td {
    padding: 15px 10px;
  }
}

@media (max-width: 959px) {
  .position-relative-td span {
    padding: 15px 25px;
  }
  .lmstyle {
    padding: 15px 0;
  }
  .div-line-matching p {
    padding: 0 10px;
    /* transform: rotate(45deg); */
  }
  .lmstyle {
    font-size: 14px;
  }
}

@media (max-width: 889px) {
  .comprasion-h1 {
    margin-bottom: 10px;
  }
  .comprasion-table-text .comprasion-p {
    font-family: 'Gilroy';
}
  .main-table-comprasion thead tr td {
    font-size: 20px;
    padding: 15px 20px;
  }
  .main-table-comprasion .price-tr-span {
    font-size: 20px;
  }
  .position-relative-td span {}
  .main-table-comprasion tbody tr td {
    font-size: 18px;
  }
  .div-absolute-icon-head {
    left: -43px;
    width: 38px;
    height: 38px;
    background-size: contain;
  }
  .main-table-comprasion .lines-matching td {
    font-size: 10px;
  }
  .ref-broker-link td img {
    /* width: 16px; */
  }
  .div-absolute-number-body {
    font-size: 20px;
    left: -265px;
  }
  .position-relative-td span {
    padding: 15px 20px;
  }
  .main-table-comprasion tbody tr td {
    padding: 15px 10px;
  }

  .main-table-comprasion {
    border-radius: 30px;
  }
  .main-table-comprasion thead tr td:first-child {
    border-top-left-radius: 30px;
  }
  .main-table-comprasion thead tr td:last-child {
    border-top-right-radius: 30px;
  }
  .tenth-percent-tr td:first-child {
    border-bottom-left-radius: 30px;
  }
  .tenth-percent-tr td:last-child {
    border-bottom-right-radius: 30px;
  }
}

@media (max-width: 749px) {
  .main-table-comprasion thead tr td {
    /* font-size: 11px; */
  }
  .position-relative-td span {
    padding: 15px;
  }
  .main-table-comprasion .license-duration-span {
    font-size: 18px;
  }
}

@media (max-width: 599px) {
  .comprasion-h1 {
    margin-bottom: 0px;
  }
  .comparison-table {
    padding: 20px 0;
  }
  .comprasion-table-body {
    margin: 0 auto;
    padding-top: 10px;
  }
  .comprasion-table-text .comprasion-p {
    margin-bottom: 0;
  }
  .main-table-comprasion thead tr td {
    font-size: 9px;
    padding: 15px 20px;
  }
  .main-table-comprasion tbody tr td {
    padding: 15px 0;
    font-size: 8px;
  }
  .position-relative-td span {
    padding: 15px 20px;
  }
  .ref-broker-link td img {
    width: 11px;
  }
  .main-table-comprasion .lines-matching td {
    font-size: 7px;
  }
  .div-absolute-icon-head {
    left: -32px;
    width: 30px;
    height: 30px;
  }
  .div-absolute-number-body {
    font-size: 10px;
    left: -260px;
  }
}

@media (max-width: 549px) {
  #comparison .comparison-table {
    max-width: 450px;
  }
  .comprasion-h1 {
    font-size: 24px
  }
  .comprasion-table-text .comprasion-p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .comprasion-table-body {
    padding: 0;
  }
  .main-table-comprasion .price-tr-span,
  .main-table-comprasion .number-of-trading-systems-span,
  .main-table-comprasion .license-duration-span,
  .lmstyle {
    font-size: 9px;
  }
}

@media (max-width: 499px) {
  #comparison .comparison-table {
    width: calc(100% - 80px);
  }
  .ref-broker-link td img {
    width: 15px;
}
  .div-absolute-icon-head,
  .div-absolute-number-body {
    /* display: none; */
  }
  .div-absolute-icon-head {
    left: -34px;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 449px) {
  .float-right-matching {
    display: flex;
  }
  .float-left-line p, .float-right-matching p {
    transform: rotate(45deg);
}
  .main-table-comprasion thead tr td {
    padding: 15px 12px;
  }
  .position-relative-td span {
    padding: 15px 10px;
  }
  .float-left-line p, .float-right-matching p {
    margin: 0;
    padding: 0;
    /* transform: rotate(45deg); */
  }
}