/*the container must be positioned relative:*/
.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 26px;
  right: 21px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-color: #425055 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #425055;
  padding: 14px 24px;
  /* border: 1px solid transparent; */
  border-radius: 35px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  border: 2px solid #e0e4e5;
  border-radius: 20px;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 99;
  overflow: hidden;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover {
  background-color: #3ea5eb;
  color: #fff;
  border-radius: 0;
}

.same-as-selected {
  background-color: #3ea5eb;
  color: #fff !important;
  border-radius: 0 !important;
}

.div-select-style {
}


@media (max-width: 1399px) {
  .select-selected:after {
    top: 19px;
    right: 20px;
  }
  .select-items {
    top: 50px;
  }
}

@media (max-width: 1199px) {
  .select-selected:after {
    top: 17px;
    right: 15px;
  }
}

@media (max-width: 959px) {
  .select-items {
    top: 45px;
  }
  .select-selected:after {
    top: 16px;
  }
}
@media (max-width: 859px) {
  .select-items div, .select-selected {
    padding: 15px 20px;
  }
  .select-selected:after {
    top: 20px;
    right: 19px;
    border: 5px solid transparent;
    border-color: #425055 transparent transparent transparent;
  }
}

@media (max-width: 459px) {
  .select-selected:after {
    top: 23px;
  }
}
