.footer__top {
  background: #425055;
  padding: 20px 0;
}

.footer__logo {
  width: 182px;
  display: block;
}

.footer__nav ul {
  margin: 0;
}

.footer__nav ul li {
  list-style: none;
}

.footer__nav ul li a {
  padding: 10px 44px;
  color: white;
  font-size: 22px;
  transition: all 0.2s ease;
}
.footer__nav ul li a:hover {
  /* color: #41b4e6; */
  /* text-decoration: none; */
  transition: all 0.2s ease;
}

.footer__bottom {
  background: #364145;
}

.footer__copyright {
  font-size: 16px;
  padding: 7px 0;
  color: #afb5b7;
  margin: 0;
}

/* media */
@media (max-width: 1919px) {
  .footer__container {
    max-width: 1340px;
    margin: 0 auto;
  }
}
@media (max-width: 1700px) {
  .footer__nav ul li a {
    padding: 10px 30px;
  }
}

@media (max-width: 1199px) {
  .footer__top .footer__container {
    align-items: center;
    max-width: 693px;
  }
  .footer__logo {
    /* margin-left: 56px; */
  }
  .footer__nav ul {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0;
  }
  .footer__nav ul li {
    list-style: none;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
  }
  .footer__nav ul li a {
    font-size: 18px;
    padding: 10px 23px;
  }
}

@media (max-width: 959px) {
  .footer__top .footer__container {
    align-items: center;
    width: calc(100% - 110px);
  }
}

@media (max-width: 639px) {
  .footer__top {
    padding: 20px;
  }
  .footer__top .footer__container {
    min-width: 320px;
    width: 100%;
    box-sizing: border-box;
  }
  .footer__logo {
    margin-left: 0;
    width: 125px;
  }
  .footer__nav ul li a {
    font-size: 12px;
    padding: 10px 23px;
  }
  .footer__nav ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
}
}
