/* package partner start style */

.packages-container {
}

.packages-title {
  color: #425055;
  font-weight: 500 !important;
  margin-bottom: 0;
  position: relative;
}

.packages-description {
  color: #425055;
  margin-top: 0;
}

.text-packages {
  margin-top: 30px;
}

.text-packages p {
  margin-bottom: 0;
}

.slider-packages {
  position: relative;
  padding: 20px;
}

.slider-packages .uk-slider-container {
  padding: 3%;
}

.slider-packages .uk-slider-container #id-uk-slider-items .uk-card {
  transition: all 0.2s ease;
}

.slider-packages .uk-card-default {
  border-radius: 50px;
  border-top-left-radius: 0px;
}

.slider-packages .uk-card-media-top {
  padding: 20px;
  padding-bottom: 0;
}

.slider-packages .uk-slider-items {
  /* padding: 40px 30px; */
}

.slider-packages .uk-slider-items li {
  margin: 5px 25px;
}

.slider-packages .uk-card-body {
  padding: 30px 40px;
}

.slider-packages .card-title {
  margin: 0;
  margin-bottom: 15px;
  color: #48555a;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.uk-card-body-titles-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 35px;
  padding-bottom: 15px;
}

.titles-block1 {
  width: 175px;
}

.titles-block2 {
  width: 110px;
  text-align: center;
  font-weight: 700;
}

.titles-block2 .card-title {
  font-family: "Gilroy Extra Bold";
}

.slider-packages .card-title-ref {
  font-size: 16px;
}

.slider-packages .card-title span {
  font-weight: 500;
}

.slider-packages .card-description {
  height: 105px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #48555a;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.slider-packages .uk-dotnav > li.uk-active > *,
.reviews .uk-dotnav > li.uk-active > * {
  width: 30px;
  height: 30px;
  background: white !important;
  border: 5px solid #41b4e6;
  border-radius: 50%;
}

.slider-packages .uk-dotnav > * > *,
.reviews .uk-dotnav > * > * {
  width: 20px;
  height: 20px;
  background: #afb5b7 !important;
}

.slider-packages .change-product-div a {
  transition: all 0.2s ease;
}

#slider-li-last {
  width: 200px;
}

.link-change-product {
  font-size: 18px;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link-change-product:hover {
  text-decoration: none;
  transition: all 0.3s ease;
}

.link-change-product:focus {
  /* background: #41b4e6; */
  color: #fff;
}

/* tester btn */
.link-change-product-tester {
  border: 2px solid #0bb850;
}
.link-change-product-tester:hover {
  border: 2px solid transparent;
}
.link-change-product-tester:focus,
.link-change-product-tester:hover {
  background-image: radial-gradient(
    circle 363px at -54.13% -2.9%,
    #0bb850 0%,
    #90db4f 78%,
    #b5e54f 100%
  );
}
.slider-packages .change-product-div .link-change-product-tester {
  color: #0bb850;
  font-family: "Gilroy Extra Bold";
}
.slider-packages .change-product-div .link-change-product-tester:focus,
.slider-packages .change-product-div .link-change-product-tester:hover {
  color: #fff;
}

/* advanced btn */
.link-change-product-advanced {
  border: 2px solid #05a194;
}
.link-change-product-advanced:hover {
  border: 2px solid transparent;
}
.link-change-product-advanced:focus,
.link-change-product-advanced:hover {
  background-image: radial-gradient(
    circle 363px at -54.45% -2.9%,
    #04a194 0%,
    #1ebfb2 78%,
    #25c7ba 100%
  );
}
.slider-packages .change-product-div .link-change-product-advanced {
  color: #05a194;
  font-family: "Gilroy Extra Bold";
}
.slider-packages .change-product-div .link-change-product-advanced:focus,
.slider-packages .change-product-div .link-change-product-advanced:hover {
  color: #fff;
}

/* professional btn */
.link-change-product-professional {
  border: 2px solid #8d3c8c;
}
.link-change-product-professional:hover {
  border: 2px solid transparent;
}
.link-change-product-professional:focus,
.link-change-product-professional:hover {
  background-image: radial-gradient(
    circle 363px at -54.45% -2.9%,
    #8d3d8c 0%,
    #c65cd6 78%,
    #d665eb 100%
  );
}
.slider-packages .change-product-div .link-change-product-professional {
  color: #8d3c8c;
  font-family: "Gilroy Extra Bold";
}
.slider-packages .change-product-div .link-change-product-professional:focus,
.slider-packages .change-product-div .link-change-product-professional:hover {
  color: #fff;
}

/* expert btn */
.link-change-product-expert {
  border: 2px solid #e69009;
}
.link-change-product-expert:hover {
  border: 2px solid transparent;
}
.link-change-product-expert:focus,
.link-change-product-expert:hover {
  background-image: linear-gradient(
    40deg,
    #e69009 0%,
    #faba02 78%,
    #ffc600 100%
  );
}
.slider-packages .change-product-div .link-change-product-expert {
  color: #e69009;
  font-family: "Gilroy Extra Bold";
}
.slider-packages .change-product-div .link-change-product-expert:focus,
.slider-packages .change-product-div .link-change-product-expert:hover {
  color: #fff;
}

/* master btn */
.link-change-product-master {
  border: 2px solid #5e3d8d;
}
.link-change-product-master:hover {
  border: 2px solid transparent;
}
.link-change-product-master:focus,
.link-change-product-master:hover {
  background-image: linear-gradient(
    40deg,
    #5f3d8d 0%,
    #925cd6 78%,
    #a165eb 100%
  );
}
.slider-packages .change-product-div .link-change-product-master {
  color: #5e3d8d;
  font-family: "Gilroy Extra Bold";
}
.slider-packages .change-product-div .link-change-product-master:focus,
.slider-packages .change-product-div .link-change-product-master:hover {
  color: #fff;
}

.link-gradient-change-btn {
  background-color: #fff;
  text-decoration: none;
  padding: 17px 110px;
  transition: all 0.3s ease;
}

.slider-packages .slider-next-block {
  width: 75px;
  height: 80px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.slider-packages .slider-item-next {
  background: url("../img/next_active.svg") center center no-repeat;
  right: -100px;
}

.slider-packages .slider-item-next .uk-invisible {
  background: red;
}

.slider-packages .slider-previous-block {
  width: 70px;
  height: 80px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.slider-packages .slider-item-previous {
  background: url("../img/prev_active.svg") center center no-repeat;
  left: -100px;
}

.uk-dotnav {
  margin-top: 10px !important;
  margin-bottom: 30px;
}

/* package partner end style */

/* media */

@media (min-width: 1919px) {
  .uk-child-width-1-4\@m > * {
    width: 30%;
  }
  .slider-packages .card-title-ref img {
    width: 28px;
  }
}

@media (max-width: 1919px) {
  .uk-child-width-1-4\@m > * {
    width: 30%;
  }
}

@media (max-width: 1799px) {
  .slider-packages {
    padding: 0 70px;
  }
  .uk-child-width-1-4\@m > * {
    width: 30%;
  }
  .slider-packages .uk-card-body {
    padding: 30px 27px;
  }
  .link-gradient-change-btn {
    padding: 17px 100px;
  }
}

@media (max-width: 1699px) {
  .uk-slider-container .uk-child-width-1-4\@m > * {
    width: 30%;
  }
  .slider-packages .uk-card-media-top {
    padding: 22px;
    padding-bottom: 0;
  }
  .slider-packages .uk-card-body {
    padding: 20px 30px;
  }
  .slider-packages .card-title-ref img {
    width: 19px;
  }
  .slider-packages .card-description {
    font-size: 16px;
  }
  .change-product-div .link-gradient-change-btn {
    padding: 17px 99px;
  }
  .slider-packages .slider-item-next,
  .slider-packages .slider-item-previous {
    width: 90px;
    height: 70px;
    background-size: cover;
  }
  .slider-packages .uk-slider-container {
    padding-bottom: 4%;
  }
  .slider-packages {
    padding: 0 10px;
  }
}

@media (max-width: 1599px) {
  .slider-packages .uk-card-media-top {
    padding: 20px;
    padding-bottom: 0;
  }
  .slider-packages .uk-card-body {
    padding: 18px 28px;
  }
  .slider-packages .card-title {
    font-size: 15px;
    margin-bottom: 14px;
  }
  .slider-packages .card-description {
    font-size: 15px;
  }
  .change-product-div .link-gradient-change-btn {
    padding: 15px 75px;
  }
}

@media (max-width: 1499px) {
  .uk-slider-container .uk-child-width-1-4\@m > * {
    width: 30%;
  }
  .slider-packages .uk-card-media-top {
    padding: 17px;
    padding-bottom: 0;
  }
  .slider-packages .uk-card-body {
    padding: 15px 26px;
  }
  .slider-packages .card-title {
    font-size: 14px;
    margin-bottom: 13px;
  }
  .slider-packages .card-description {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .change-product-div .link-gradient-change-btn {
    padding: 14px 80px;
  }
}

@media (max-width: 1399px) {
  .slider-packages {
    max-width: 950px;
    margin: 0 auto;
  }
  .link-gradient-change-btn {
    padding: 14px 85px;
    font-size: 15px;
  }
  .packages-title {
    margin-bottom: 10px;
  }
  .uk-slider-container .uk-child-width-1-4\@m > * {
    width: 29%;
  }
  .slider-packages .uk-card-media-top {
    padding: 18px;
    padding-bottom: 0;
  }
  .slider-packages .uk-card-body {
    padding: 15px 28px;
  }
  .slider-packages .card-title {
    font-size: 13px;
    margin-bottom: 12px;
  }
  .slider-packages .card-title-ref {
    font-size: 12px;
  }
  .slider-packages .card-title-ref img {
    width: 18px;
  }
  .slider-packages .card-description {
    font-size: 12px;
  }
  .change-product-div .link-gradient-change-btn {
    padding: 12px 70px;
  }
  .slider-packages .slider-item-next,
  .slider-packages .slider-item-previous {
    background-size: cover;
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 1199px) {
  .uk-slider-container .uk-child-width-1-4\@m > * {
    width: 28%;
  }
  .slider-packages .uk-card-media-top {
    padding: 13px;
    padding-bottom: 0;
  }
  .slider-packages .uk-card-body {
    padding: 13px 19px;
  }
  .slider-packages .card-title {
    font-size: 12px;
    margin-bottom: 9px;
  }
  .slider-packages .card-title-ref img {
    width: 12px;
  }
  .slider-packages .card-description {
    font-size: 11.5px;
  }
  .link-gradient-change-btn {
    font-size: 14px;
  }
  .change-product-div .link-gradient-change-btn {
    padding: 12px 60px;
  }
}

@media (max-width: 1099px) {
  .slider-packages {
    padding: 0 20px;
  }
  .uk-slider-container .uk-child-width-1-4\@m > * {
    width: 29%;
  }
  .slider-packages .uk-slider-items li {
    margin: 5px 20px;
  }
  .slider-packages .slider-item-next,
  .slider-packages .slider-item-previous {
    background-size: cover;
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 959px) {
  .slider-arrow-controll {
    display: none;
  }
  .uk-slider-container .uk-child-width-1-4\@m > * {
    /* width: 230px; */
  }
  .slider-packages .uk-slider-container {
    padding: 7% 3%;
  }
  .slider-packages .uk-card-body {
    /* padding: 13px 15px; */
  }
  .slider-packages .uk-card-media-top {
    padding: 11px;
    padding-bottom: 0;
  }
  .slider-packages .uk-dotnav > * > *,
  .reviews .uk-dotnav > * > * {
    width: 15px;
    height: 15px;
  }
  .slider-packages .uk-dotnav > li.uk-active > *,
  .reviews .uk-dotnav > li.uk-active > * {
    width: 25px;
    height: 25px;
    border: 4px solid #41b4e6;
  }
  .change-product-div .link-gradient-change-btn {
    padding: 12px 65px;
  }
  .slider-packages .card-title {
    margin-bottom: 9px;
  }
}

@media (max-width: 859px) {
  .uk-slider-container .uk-child-width-1-4\@m > * {
    width: 45%;
  }
  .slider-packages .card-title {
    margin: 0;
    margin-bottom: 15px;
    color: #48555a;
    font-family: "Gilroy";
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.8px;
  }
  .titles-block2 .card-title {
    font-family: "Gilroy Extra Bold";
  }
  .slider-packages .card-title-ref img {
    width: 32px;
    margin-top: 10px;
  }
  .slider-packages .card-description {
    font-size: 16px;
  }
  .change-product-div .link-gradient-change-btn {
    padding: 17px 90px;
  }
  .link-change-product {
    font-size: 18px;
  }
}

@media (max-width: 789px) {
  .change-product-div .link-gradient-change-btn {
    padding: 17px 75px;
  }
  #slider-li-last {
    width: 175px;
  }
}
@media (max-width: 739px) {
  .slider-packages {
    padding: 0 20px;
    max-width: 370px;
  }
  .uk-slider-container .uk-child-width-1-4\@m > * {
    width: 320px;
  }
  .change-product-div .link-gradient-change-btn {
    padding: 17px 90px;
  }
  .slider-packages .uk-slider-container {
    padding: 10% 3%;
  }
  .uk-dotnav {
    margin-top: 0 !important;
  }
  #slider-li-last {
    width: 180px;
  }
}

@media (max-width: 499px) {
  .uk-slider-container .uk-child-width-1-4\@m > * {
    width: 311px;
    /* padding: 0 50px 0 20px; */
  }
  #slider-li-last {
    width: 174px;
  }
  .slider-packages {
    padding: 0;
  }
  .slider-packages .uk-slider-items li {
    margin: 5px 20px;
  }
}

@media (max-width: 399px) {
  .slider-packages .uk-slider-items li {
    margin: 5px 20px 5px 12px;
  }
  #slider-li-last {
    width: 139px;
}
}
