.displayNone {
  display: none;
}

.profit-block {
  background-image: url(../img/compare_packages_bg.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.profit-top {
  padding: 30px 30px 0;
}

.profit-h1,
.profit-p {
  color: #fff;
  margin: 0;
}

.profit-body {
  max-width: 1362px;
  border-radius: 20px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.form-packages {
  padding: 40px;
  background: #fcfcfc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.form-package-container,
.form-middle-container,
.form-count-partner-container {
  margin-bottom: 50px;
}

.form-package-container-title {
  font-size: 24px;
  font-family: "Gilroy Extra Bold";
  text-align: left;
  color: #425055;
}

.label-form-title {
  width: 200px;
}

.second-title {
  width: 260px;
  text-align: right;
  margin: 0 40px;
}

.img-form {
  margin: 0 20px;
  width: 35px;
}

.form-img-help {
  padding: 0;
  width: 60px;
  height: 60px;
  background-color: initial;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-dropdown {
  font-size: 20px;
  color: #425055;
  width: 230px;
  border: 3px solid #e0e4e5;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 7px 15px 0px #00000005;
}

.form-dropdown p {
  margin-bottom: 0;
  margin-left: 40px;
}

#first-pack-packages,
#second-pack-packages {
  display: block;
  font-family: "Gilroy";
  border-radius: 35px;
  border: 1px solid transparent;
  margin-left: 30px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

#first-pack-packages-radio,
#second-pack-packages-radio {
  display: none;
}

.form-radio {
  display: flex;
  flex-direction: column;
}

.form-radio-box {
  align-items: flex-start;
}

#for-radio-help {
  display: none;
}

.form-input-text {
  font-size: 28px;
  color: #425055;
  padding: 11px 30px;
  width: 166px;
  box-sizing: border-box;
  border: 3px solid #afb5b7;
  border-radius: 10px;
}

/* middle */

.middle-input-range {
  width: 714px;
}

.middle-input-text {
  width: 207px;
  margin-left: 64px;
}

/* count partner */

.count-partner-input-range {
  width: 714px;
}

.count-partner-input-text {
  width: 207px;
  margin-left: 64px;
}

/* table style */

.profit-table tr:nth-child(odd) {
  background: #fafafa;
}

.profit-table tr:nth-child(even) {
  background: #fff;
}

.profit-table {
  margin-bottom: 0;
  margin-top: 0;
}

.profit-table tbody tr:first-child {
  background-image: linear-gradient(
    to top,
    #1aa4f4 0%,
    #61c6f6 78%,
    #75cff6 100%
  );
  color: #ffffff;
  font-family: "Gilroy Extra Bold";
  font-size: 24px;
  font-weight: 400;
}

.profit-table tbody tr td {
  font-size: 25px;
  padding: 12px 12px;
  font-weight: 400;
}

.profit-table .table-italic {
}

.profit-table .table-semibold {
  font-weight: 500;
}

#sumcol1,
#sumcol2 {
  color: #425055;
  font-family: "Gilroy Extra Bold";
}

.profit-table tbody tr td:first-child {
  text-align: right;
  width: 250px;
  color: #425055;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  border-right: 1px solid #afb5b7;
  padding-right: 50px;
  box-sizing: border-box;
}

.profit-table tbody tr td:nth-child(2) {
  text-align: center;
  width: 250px;
  color: #425055;
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  border-right: 1px solid #afb5b7;
  box-sizing: border-box;
}

.profit-table tbody tr td:last-child {
  text-align: center;
  width: 250px;
  color: #425055;
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  box-sizing: border-box;
}

#your-pack-progit-table {
  text-align: center;
  color: #ffffff;
  font-family: "Gilroy Extra Bold";
  font-size: 24px;
  font-weight: 400;
}

#versus-pack-progit-table {
  text-align: center;
  color: #ffffff;
  font-family: "Gilroy Extra Bold";
  font-size: 24px;
  font-weight: 400;
}

#lost-profit {
  text-align: center;
  font-size: 24px;
  font-family: "Gilroy Extra Bold";
  color: #41b4e6;
  padding: 10px;
}

#your-package-title {
  text-align: center;
}

#package-comparisons-title {
  text-align: center;
  padding-left: 0px;
}

#column11,
#column21,
#column31,
#column41,
#column51,
#column61,
#column71,
#column81,
#column91,
#column101 {
  text-align: left;
  padding-left: 170px;
}

#column12,
#column22,
#column32,
#column42,
#column52,
#column62,
#column72,
#column82,
#column92,
#column102 {
  text-align: left;
  padding-left: 160px;
}

.profit-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px !important;
}

.profit-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px !important;
}

.value-output-mobile {
  display: none;
}
@media (min-width: 1920px) {
}

@media (max-width: 1799px) {
  .form-packages {
    padding: 30px;
  }
  .label-form-title {
    width: 170px;
  }
  .form-img-help {
    width: 56px;
    height: 56px;
  }
  .second-title {
    width: 250px;
  }
  .profit-table tbody tr td {
  }
}

@media (max-width: 1699px) {
  .form-dropdown {
    font-size: 22px;
  }
  .profit-table tbody tr td {
    font-size: 26px;
  }
}

@media (max-width: 1599px) {
  .form-package-container,
  .form-middle-container,
  .form-count-partner-container {
    margin-bottom: 40px;
  }
  .label-form-title {
    width: 155px;
  }
  .form-package-container-title {
    font-size: 25px;
  }
  .form-dropdown {
    font-size: 24px;
  }
  .profit-table tbody tr td {
    font-size: 25px;
  }
  .form-middle-container-block1,
  .form-count-partner-container-block1,
  .form-package-container-block1 {
    width: 250px;
  }
}

@media (max-width: 1459px) {
  .form-packages {
    padding: 25px 30px;
  }
  .form-package-container-title {
    font-size: 24px;
  }
  .label-form-title {
    width: 150px;
  }
  .form-img-help {
    width: 52px;
    height: 52px;
  }
  .form-dropdown {
    font-size: 22px;
  }
  .second-title {
    width: 170px;
  }
  .profit-table tbody tr td {
    font-size: 22px;
  }
  .uk-table td {
    padding: 11px 12px;
  }
  #column11,
  #column21,
  #column31,
  #column41,
  #column51,
  #column61,
  #column71,
  #column81,
  #column91,
  #column101 {
    text-align: left;
    padding-left: 130px;
  }
  #column12,
  #column22,
  #column32,
  #column42,
  #column52,
  #column62,
  #column72,
  #column82,
  #column92,
  #column102 {
    text-align: left;
    padding-left: 120px;
  }
}

@media (max-width: 1399px) {
  .form-packages {
    padding: 22px 28px;
  }
  .form-package-container-title {
    font-size: 22px;
  }
  .label-form-title {
    width: 140px;
  }
  .img-form {
    margin: 0 15px 0 10px;
    width: 40px;
  }
  .form-dropdown {
    font-size: 19px;
  }
  .form-img-help {
    width: 49px;
    height: 49px;
  }
  .profit-table tbody tr td {
    font-size: 19px;
  }
  .form-middle-container-block1,
  .form-count-partner-container-block1,
  .form-package-container-block1 {
    width: 200px;
  }
}

@media (max-width: 1199px) {
  .label-form-title {
    width: 120px;
  }
  .form-package-container-title {
    font-size: 19px;
  }
  .form-dropdown {
    width: 200px;
    font-size: 17px;
  }
  .form-img-help {
    width: 44px;
    height: 44px;
  }
  .profit-table tbody tr td {
    font-size: 18px;
  }
  .uk-table td {
    padding: 10px 12px;
  }
  .form-middle-container-block1,
  .form-count-partner-container-block1,
  .form-package-container-block1 {
    width: 180px;
  }
  #column11, #column21, #column31, #column41, #column51, #column61, #column71, #column81, #column91, #column101 {
    text-align: left;
    padding-left: 110px;
}
#column12, #column22, #column32, #column42, #column52, #column62, #column72, #column82, #column92, #column102 {
  text-align: left;
  padding-left: 100px;
}
}

@media (max-width: 959px) {
  .form-packages {
    padding: 20px 22px;
  }
  .label-form-title {
    width: 100px;
  }
  .form-dropdown {
    width: 170px;
    font-size: 15px;
  }
  .second-title {
    width: 110px;
    margin: 0 14px 0 18px;
  }
  .profit-table tbody tr td {
    font-size: 16px;
  }
  .uk-table td {
    padding: 7px 12px;
  }
  * + .uk-table {
    margin-top: 0px;
    border-top: 1px solid #999;
  }
  .profit-table tbody tr td:first-child,
  .profit-table tbody tr td:nth-child(2) {
    border-right: 1px solid #999;
  }
  .profit-table .table-italic {
    font-size: 14px;
  }
  .form-package-container,
  .form-middle-container,
  .form-count-partner-container {
    margin-bottom: 0px;
  }
  .form-img-help {
    width: 40px;
    height: 40px;
  }
  .img-form {
    width: 35px;
  }
  .form-middle-container-block1,
  .form-count-partner-container-block1,
  .form-package-container-block1 {
    width: 160px;
  }
  #your-package-title {
    text-align: center;
    padding-left: 0px;
  }
  #your-pack-progit-table {
    padding-left: 8%;
  }
  .profit-table tbody tr td:nth-child(2) {
    padding-left: 11%;
  }
}

@media (max-width: 869px) {
  .form-packages {
    padding: 16px 18px;
  }
  .form-dropdown {
    width: 165px;
    font-size: 14px;
  }
  .profit-table tbody tr td {
    font-size: 15px;
  }
  .uk-table td {
    padding: 5px 12px;
  }
  .form-middle-container-block1,
  .form-count-partner-container-block1,
  .form-package-container-block1,
  .form-package-container-block2 {
    width: 180px;
  }
  .profit-table tbody tr td:first-child {
    width: 100px;
  }
  .profit-table tbody tr td:nth-child(2) {
    width: 150px;
  }
  .profit-table tbody tr td:last-child {
    width: 150px;
  }
  #versus-pack-progit-table,
  #your-pack-progit-table {
    font-size: 19px;
  }
  #first-pack-packages, #second-pack-packages {
    margin-left: 10px;
  }
  #column11, #column21, #column31, #column41, #column51, #column61, #column71, #column81, #column91, #column101 {
    padding-left: 65px;
  }
  #column12, #column22, #column32, #column42, #column52, #column62, #column72, #column82, #column92, #column102 {
    padding-left: 50px;
  }
  .profit-table tbody tr td:first-child {
    font-size: 17px;
  }
  .profit-table tbody tr td:first-child {
    padding-right: 30px;
  }
}

@media (max-width: 759px) {
  #for-radio-help {
    display: block;
  }
  #first-pack-packages,
  #second-pack-packages {
    /* display: none; */
  }
  #first-pack-packages-radio,
  #second-pack-packages-radio {
    display: none;
  }
  .form-package-container {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
  .second-title {
    margin: 0;
  }
  .form-package-container-block1-container,
  .form-package-container-block2-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .form-package-container-block2-container {
    margin-top: 20px;
  }
  .uk-radio {
    margin-right: 5px;
  }
  .form-middle-container,
  .form-count-partner-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .form-middle-container-block1,
  .form-count-partner-container-block1 {
    width: 180px;
  }

  .form-middle-container-block2,
  .form-count-partner-container-block2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
  }
  /* .profit-table tbody tr td:first-child {
    width: 100px;
  }
  .profit-table tbody tr td:nth-child(2) {
    width: 110px;
  }*/
  #versus-pack-progit-table, #your-pack-progit-table {
    font-size: 15px;
}
#your-pack-progit-table {
  padding-left: 3%;
}
  .profit-table tbody tr td:last-child {
    width: 185px;
  } 
  #package-comparisons-title {
    text-align: center;
    padding-left: 0px;
  }
  .profit-table tbody tr td {
    font-size: 13px;
  }
  .profit-table .table-italic {
    font-size: 13px;
  }
  #versus-pack-progit-table {
    padding-left: 3%;
  }
  .uk-table td {
    padding: 3px 10px 3px 5px;
  }
  .uk-checkbox:checked,
  .uk-checkbox:indeterminate,
  .uk-radio:checked {
    background: white !important;
    border: 3px solid #41b4e6;
    border-radius: 50%;
  }
  .form-radio-box {
    font-size: 15px;
  }
  .form-radio-box label {
    padding: 5px 0;
  }
  #column11, #column21, #column31, #column41, #column51, #column61, #column71, #column81, #column91, #column101 {
    padding-left: 20px;
}
#column12, #column22, #column32, #column42, #column52, #column62, #column72, #column82, #column92, #column102 {
  padding-left: 30px;
}
.profit-table tbody tr td:nth-child(2) {
  padding-left: 2%;
}
#versus-pack-progit-table {
  line-height: inherit;
}
}

@media (max-width: 459px) {
  .form-package-container {
    justify-content: center;
    max-width: 320px;
  }
  .profit-table tbody tr td:first-child,
  .profit-table tbody tr td:nth-child(2),
  .profit-table tbody tr td:last-child {
    font-size: 14px;
  }
  .form-radio-box {
    font-size: 12px;
  }
  .form-radio-box label {
    padding: 5px 0;
  }
  .profit-body {
    max-width: 350px;
  }
  .form-package-container-title {
    font-size: 16px;
  }
  .profit-table tbody tr td {
    font-size: 12px;
  }
  .profit-table .table-italic {
    font-size: 12px;
  }
  .form-packages {
    padding: 15px 5px 5px 20px;
  }
  .second-title {
    text-align: left;
  }
  .profit-table tbody tr td:last-child {
    width: 155px;
  }
  .profit-table tbody tr td:first-child {
    width: 0;
    padding-right: 10px; 
  }
  .profit-table tbody tr td {
    font-size: 11px;
  }
  #your-pack-progit-table {
    padding-left: 3%;
  }
  .profit-table tbody tr td:nth-child(2) {
    padding-left: 2%;
  }
  .profit-table tbody tr td:last-child {
    /* width: 115px; */
  }
  .profit-table tbody tr td:last-child {
    padding-left: 4%;
  }
  .form-middle-container,
  .form-count-partner-container {
    max-width: 320px;
  }
  #depos-value-output {
    float: left;
  }
  .form-middle-container-block1, .form-count-partner-container-block1 {
    width: 100%;
}
.second-title {
  width: 100px;
}
.label-form-title {
  width: 95px;
}
  #robot-value-output {
    float: left;
  }
  .value-output-desktop {
    display: none;
  }
  .value-output-mobile {
    display: block;
  }
  #lost-profit {
    font-size: 16px;
  }

  #column12, #column22, #column32, #column42, #column52, #column62, #column72, #column82, #column92, #column102 {
    padding-left: 10px;
  }
  .profit-table .table-italic {
    line-height: inherit !important;
}
}
