.irs-hidden-input {
  border-style: none !important;
}
.irs--flat.irs-with-grid {
  width: 710px;
  margin-left: 20px;
}
.irs--flat .irs-bar {
  background-color: #3887f3;
}

.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: -17px;
  left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  cursor: pointer;
  margin-left: -2px;
  /* background-color: #41b4e6; */
  background-image: radial-gradient(circle 112px at center 6.02%, #3887f3 0%, #41b4e6 100%);
}
.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: #3887f3;
}
.irs--flat .irs-line {
  top: 30px;
  height: 5px;
  background-color: #afb5b7;
  border-radius: 50px;
}
.irs--flat .irs-bar--single {
  border-radius: 50px;
}
.irs--flat .irs-bar {
  top: 30px;
  height: 5px;
}
.irs-grid-text {
  font-size: 20px;
  font-family: 'Gilroy Extra Bold';
  bottom: -26px;
  text-align: center;
  font-size: 20px;
  margin-left: -35px !important;
  min-width: 65px;
}
.irs-grid-pol {
  width: 3px;
  background-color: #afb5b7 !important;
  height: 18px;
  top: 7px;
}
.irs-grid-pol.small {
  height: 0;
}
.irs-min,
.irs-max,
.irs-single {
  visibility: hidden !important;
}
.ytp-expand-pause-overlay .ytp-pause-overlay {
  display: none;
}
.robot__container .js-grid-text-0,
.robot__container .js-grid-text-1,
.robot__container .js-grid-text-2 {
  visibility: hidden !important;
  line-height: 0;
}
.robot__container .js-grid-text-0:before {
  content: "Low";
  display: block;
  visibility: visible;
}
.robot__container .js-grid-text-1:before {
  content: "Mid";
  display: block;
  visibility: visible;
}
.robot__container .js-grid-text-2:before {
  content: "High";
  display: block;
  visibility: visible;
}
.depos_range_container .irs-grid-text,
.depos_funds_container .irs-grid-text {
  visibility: hidden;
}
.depos_range_container .irs-grid-text.js-grid-text-0,
.depos_range_container .irs-grid-text.js-grid-text-8,
.depos_range_container .irs-grid-text.js-grid-text-18,
.depos_range_container .irs-grid-text.js-grid-text-28,
.depos_range_container .irs-grid-text.js-grid-text-38,
.depos_range_container .irs-grid-text.js-grid-text-48 {
  visibility: initial !important;
}

.calculator__value-output {
  font-family: 'Gilroy';
  font-size: 20px;
  text-align: center;
  color: #425055;
  padding: 17px 30px;
  width: 166px;
  box-sizing: border-box;
  border: 1px solid transparent;
  margin-left: 50px;
  border-radius: 35px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15);
}

.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}

@media (max-width: 1599px) {
  .irs--flat .irs-handle > i:first-child {
  }
  .irs--flat.irs-with-grid {
    width: 631px;
    margin-left: -4px;
  }
  .irs-grid-text {
    font-size: 16px;
    bottom: -19px;
    text-align: center;
    margin-left: -27px !important;
  }
}

@media (max-width: 1459px) {
  .calculator__value-output {
    font-size: 20px;
  }
  .irs--flat.irs-with-grid {
	  width: 590px;
  }
  .irs--flat .irs-handle>i:first-child {
	  width: 22px;
	  height: 22px;
  }
  .calculator__value-output {
	  margin-left: 30px;
  }
}

@media (max-width: 1399px) {
	.irs--flat.irs-with-grid {
		width: 520px;
	}
	.calculator__value-output {
		margin-left: 25px;
	}
	.calculator__value-output {
		font-size: 18px;
		width: 136px;
	}
}
@media (max-width: 1199px) {
  .irs--flat.irs-with-grid {
    /* width: 457px; */
    margin-top: -17px;
  }
  .irs--flat .irs-line {
    top: 30px;
    height: 3px;
  }
  .irs--flat .irs-bar {
    top: 30px;
    height: 3px;
  }
  .irs-grid-text {
    font-size: 11px;
    bottom: -22px;
    margin-left:-34px !important;
  }
  .calculator__value-output {
    font-size: 17px;
    width: 140px;
    padding: 15px 25px;

  }
}

@media (max-width: 959px) {
  .irs--flat.irs-with-grid {
    width: 381px;
    margin-top: -4px;
    margin-left: 1px;
  }
  .irs--flat .irs-bar {
    top: 30px;
    height: 2px;
  }
  .irs-with-grid .irs-grid {
    display: block;
    display: none;
  }
  .irs--flat .irs-handle > i:first-child {
    width: 20px;
    height: 20px;
    border: 3px solid white;
    top: -2px;
    left: 0;
  }
  .calculator__form fieldset > div {
    margin-bottom: -11px;
  }
  .calculator__form label {
    width: 200px;
  }
  .calculator__form label:nth-of-type(1) {
    width: 100%;
  }
}

@media (max-width: 859px) {
  .calculator__value-output {
    padding: 15px 35px;
  }
}

@media (max-width: 759px) {
  .irs--flat.irs-with-grid {
    width: 290px;
  }
}


@media (max-width: 639px) {
  .irs--flat.irs-with-grid {
    /* width: 220px; */
    margin-top: -4px;
    margin-left: 1px;
  }
}

@media (max-width: 499px) {
  .irs--flat .irs-handle > i:first-child {
    width: 18px;
    height: 18px;
  }
  .calculator__value-output {
    margin-left: 0px;
}
.calculator__value-output {
  width: 150px;
}
.irs--flat.irs-with-grid {
  width: 310px;
}
}


@media (max-width: 399px) {
  .irs--flat .irs-handle > i:first-child {
    width: 22px;
    height: 22px;
  }
  .irs--flat .irs-handle > i:first-child {
    top: -7px;
    border:5px solid white;
  }
}