.blue-underline {
  background: #21a7f2;
  width: 70px;
  height: 5px;
}

.reward-block {}

/* style block text top */

.reward-top {
  margin-top: 35px;
}

.reward-top-h1 {
  color: #425055;
  margin-bottom: 0;
}

.reward-top-p {
  /* font-size: 40px; */
  color: #425055;
  text-align: center;
  font-weight: 500;
}

/* style block with items package */

.reward-item {
  margin: 10px 0;
  padding: 0;
  border-radius: 50px;
  border-top-left-radius: 0;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reward-item-block {
  width: 28%;
}

.reward-item-img {
  margin-right: 45px;
  height: 70px;
}

.reward-img-text {
  font-weight: 500;
  font-size: 25px;
  text-align: left;
  color: #425055;
  font-family: 'Gilroy Extra Bold';
}

.reward-price {
  font-weight: 500;
  font-size: 25px;
  color: #425055;
  text-align: center;
  margin: 0;
}

.reward-percent {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: #425055;
  margin: 0;
}

.reward-percent-number {
  font-weight: 500;
  font-size: 25px;
  color: #425055;
  text-align: center;
  margin: 0;
}

.reward-bottom p img {
  width: 30px;
}

.reward-middle-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reward-middle-title p {
  margin: 0;
  padding: 0 170px;
  color: #41b4e6;
  font-family: 'Gilroy Extra Bold';
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

/* style block text bottom */

.reward-bottom {
  margin: 50px 30px;
}

.reward-bottom p {
  font-size: 25px;
  font-weight: 400;
  color: #425055;
  text-align: center;
}

.reward-bottom-example h1 {
  font-family: 'Gilroy Extra Bold';
  text-transform: uppercase;
}

.reward-bottom p img {
  vertical-align: text-bottom;
}

.reward-bottom-second-title {
  color: #41b4e6;
  font-family: 'Gilroy Extra Bold';
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.reward-bottom-second-body {
  margin-bottom: 50px;
}

.reward-bottom-first-paragraph span {
  font-family: 'Gilroy Extra Bold';
}

.reward-bottom-second-body .second-body-title {
  color: #41b4e6;
  font-family: 'Gilroy Extra Bold';
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.reward-bottom-second-body .second-body-p {
  color: #48555a;
  font-family: 'Gilroy';
  font-size: 20px;
}

.reward-bottom-second-body .second-body-p span {
  font-family: 'Gilroy Extra Bold';
}

.reward-item-second {
  margin: 10px 20px;
  border-radius: 50px;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.reward-dot {
  width: 20px;
  height: 20px;
  background: #425055;
  border-radius: 50%;
  display: inline-block;
  justify-content: center;
  margin: 0 30px;
  padding: 0;
}

/* media */

@media (max-width: 1699px) {
  .reward-bottom p {
    font-size: 26px;
  }
  .reward-bottom p img {
    width: 28px;
  }
}

@media (max-width: 1599px) {
  .reward-middle-title p {
    margin: 0;
    padding: 0 125px;
  }
  .reward-img-text {
    font-size: 22px;
  }
  .reward-item-block {
    width: 30%;
  }
  .reward-price {
    font-size: 22px;
  }
  .reward-percent-number {
    font-size: 22px;
  }
}

@media (max-width: 1399px) {
  .reward-img-text {
    font-size: 20px;
  }
  .reward-price {
    font-size: 21px;
  }
  .reward-percent-number {
    font-size: 21px;
  }
  .reward-middle-title p {
    padding: 0 115px;
  }
  .reward-bottom p {
    font-size: 22px;
  }
  .reward-bottom p img {
    width: 20px;
  }
  .reward-dot {
    width: 15px;
    height: 15px;
    margin: 0 20px;
  }
}

@media (max-width: 1299px) {
  .reward-bottom {
    padding: 0 20px;
    margin: 40px 0;
  }
}

@media (max-width: 1199px) {
  .reward-item-img {
    width: 50px;
  }
  .reward-img-text {
    font-size: 16px;
  }
  .reward-price {
    font-size: 17px;
  }
  .reward-percent {
    font-size: 17px;
  }
  .reward-percent-number {
    font-size: 17px;
  }
  .reward-item span {
    height: 65px;
  }
  .reward-bottom p {
    /* font-size: 17px; */
  }
  .reward-bottom p img {
    width: 22px;
  }
  .reward-middle-title p {
    padding: 0 85px;
    font-size: 20px;
  }
  .reward-dot {
    width: 12px;
    height: 12px;
    margin: 0 12px;
  }
}

@media (max-width: 1099px) {
  .reward-item-img {
    width: 55px;
    margin-right: 10px;
  }
  .reward-img-text {
    /* font-size: 15px; */
  }
  .reward-price {
    font-size: 18px;
  }
  .reward-percent {
    font-size: 15px;
  }
  .reward-percent-number {
    font-size: 18px;
  }
  .reward-item span {
    height: 60px;
    width: 2px;
  }
  .reward-bottom p {
    font-size: 20px;
  }
  .reward-bottom p img {
    width: 18px;
  }
  .reward-dot {
    width: 10px;
    height: 10px;
    margin: 0 10px;
  }
}

@media (max-width: 959px) {
  .reward-middle-title p {
    padding: 0 13px;
    width: 152px;
    font-size: 20px;
  }
  .reward-middle-title .media-description:first-child {
    width: 300px;
  }
  .reward-top-h1 {
    margin: 0;
  }
  .reward-item {
    height: 85px;
  }
  .reward-item-img {
    width: 55px;
    margin-right: 15px;
  }
  .reward-img-text {
    /* font-size: 14px; */
  }
  .reward-price {
    /* font-size: 16px; */
  }
  .reward-percent {
    font-size: 13px;
  }
  .reward-percent-number {
    /* font-size: 16px; */
  }
  .reward-item span {
    height: 60px;
  }
  .reward-bottom p {
    /* font-size: 13px; */
  }
  .reward-dot {
    width: 10px;
    height: 10px;
    margin: 0 10px;
  }
}

@media (max-width: 859px) {
  .reward-bottom-second-body {
    flex-wrap: wrap;
  }
  .reward-item-second {
    width: calc(100% - 40px);
  }
  .profit-p {
    font-family: 'Gilroy' !important;
    font-size: 24px !important;
  }
  .reward-item-block {
    width: 24%;
  }
  .reward-item .reward-item-block:first-child {
    width: 300px;
  }
  .reward-item {
    height: 80px;
    margin: 7px 0;
  }
  .reward-top-p {
    font-family: 'Gilroy' !important;
  }
  .reward-item-img {
    width: 60px;
    margin-right: 10px;
  }
  .reward-img-text {
    font-size: 18px;
  }
  .reward-price {
    /* font-size: 14px; */
  }
  .reward-percent {
    font-size: 11px;
  }
  .reward-percent-number {
    /* font-size: 14px; */
  }
  .reward-item span {
    height: 40px;
  }
  .reward-bottom p {
    /* font-size: 11px; */
  }
  .reward-bottom p img {
    width: 16px;
  }
  .reward-dot {
    width: 8px;
    height: 8px;
    margin: 0 8px;
  }
  
}

@media (max-width: 749px) {
  .reward-item .reward-item-block:first-child {
    width: 260px;
  }
  .reward-middle-title .media-description:first-child {
    width: 260px;
  }
  /* .reward-middle-title p {
    width: 122px;
    font-size: 13px;
  }
  .reward-img-text {
    font-size: 10px;
  }
  .reward-price {
    font-size: 12px;
  }
  .reward-percent {
    font-size: 9px;
  }
  .reward-percent-number {
    font-size: 12px;
  }
  .reward-item span {
    height: 45px;
    width: 2px;
  }
  .reward-bottom p {
    font-size: 10px;
  }
  .reward-bottom p img {
    width: 14px;
  }
  .reward-dot {
    width: 7px;
    height: 7px;
    margin: 0 7px;
  } */
}

@media (max-width: 699px) {
  .reward-item .reward-item-block:first-child {
    width: 210px;
  }
  .reward-middle-title .media-description:first-child {
    width: 220px;
  }
  .reward-img-text {
    font-size: 15px;
}
.reward-item-img {
  width: 55px;
}
}
@media (max-width: 599px) {
  .reward-top-p {
    padding: 0 15px;
  }
  .reward-bottom {
    padding: 0 35px;
    margin: 20px 0;
  }
  .reward-middle {
    padding: 0 30px;
  }
  .reward-middle-title p {
    width: 102px;
    font-size: 13px;
  }
}

@media (max-width: 499px) {
  .reward-middle-title p {
    padding: 0 20px;
    width: 75px;
    font-size: 14px;
  }
  .reward-middle {
    padding: 0;
  }
  .reward-item {
    height: 60px;
  }
  .reward-item-img {
    width: 40px;
    margin-right: 5px;
  }
  .reward-bottom {
    padding: 0;
  }
  .reward-img-text,
  .reward-price,
  .reward-percent,
  .reward-percent-number {
    font-size: 14px;
  }
  .reward-item span {
    height: 40px;
    width: 2px;
  }
  .reward-bottom p {
    font-size: 16px;
  }
  .reward-bottom p img {
    width: 10px;
  }
  .reward-dot {
    width: 6px;
    height: 6px;
    margin: 0 6px;
  }
  .reward-middle-title .media-description:first-child {
    width: 120px;
}
.reward-bottom-example h1 {
  margin-bottom: 3px;
  font-size: 24px;
}

.reward-item .reward-item-block:first-child {
  width: 120px;
    padding-left: 10px;
}

.reward-bottom-second-title {
  font-size: 18px;
}
.reward-bottom-second-body .second-body-title {
  font-size: 18px;
}
.reward-bottom-second-body .second-body-p {
  font-size: 16px;
}
.reward-item-second {
  margin: 10px 0;
    padding: 20px;
}
}

@media (max-width: 399px) {
  .profit-p {
    font-size: 22px !important
  }
  .reward-item-img {
    width: 30px;
  }
  .reward-middle-title p {
    padding: 0 10px;
  }
  .reward-middle {
    padding: 0 15px;
  }
}