/* import css */

@import url("header.css");
@import url("video-block.css");
@import url("telegram-btn.css");
@import url("packages-partner.css");
@import url("comparison-table.css");
@import url("footer.css");
@import url("reward.css");
@import url("profit.css");
@import url("dropdown-packages.css");
@import url("dropdown-language.css");
@import url("range.css");
/* main style */

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Extra Bold';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  box-sizing: border-box;
}

#wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
}

.cls-display-none {
  display: none;
}

.to-top-href {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  background: #afb5b7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 99999;
}

.to-top-href svg {
  width: 20px;
  color: white;
}

.transform-class {
  transform: scale(1.1, 1.1);
  transition: all 0.2s ease;
}

.uk-tooltip {
  font-size: 14px;
  font-style: italic;
  background: #fff;
  color: #666;
  border-radius: 5px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  padding: 25px;
}

.blue-underline {
  background: #21a7f2;
  width: 70px;
  height: 5px;
}

.close-btn-mobile-menu {
  background: #fff;
  border: 1px solid #cecdcd;
  color: #000;
  box-shadow: 0 0 2px 0px #c4c4c4;
}
/* media */

@media (min-width: 1919px) {
  .container {
    max-width: 1350px;
  }
  .media-title {
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Gilroy Extra Bold';
  }
  .media-description {
    font-size: 32px;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 50px;
    line-height: 40px;
  }
}

@media (max-width: 1919px) {
  .container {
    max-width: 1350px;
  }
  .media-title {
    font-weight: 400;
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Gilroy Extra Bold';
  }
  .media-description {
    font-size: 30px;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1599px) {
  .container {
    max-width: 1120px;
  }
  .media-title {
    font-size: 40px;
    margin: 0;
  }
  .media-description {
    font-size: 25px;
    margin: 10px 0 25px;
    text-align: center;
  }
  .to-top-href {
    opacity: 0.5;
  }
}

@media (max-width: 1449px) {
  .container {
    max-width: 1210px;
    margin: 0 auto;
  }
}

@media (max-width: 1399px) {
  .container {
    max-width: 1090px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 839px;
    margin: 0 auto;
  }
}

@media (max-width: 1099px) {
  .container {
    /* max-width: 830px; */
    width: calc(100% - 80px); 
    margin: 0 auto;
  }
}

@media (max-width: 959px) {
  .container {
    /* max-width: 600px; */
  }
  .media-title {
    font-size: 45px;
  }
  .media-description {
    font-size: 30px;
    margin: 13px 0 25px 0;
  font-family: 'Gilroy Extra Bold';
  }
  .to-top-href {
    right: 40px;
    bottom: 30px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 859px) {
  .container {
    /* max-width: 640px; */
  }
  .media-title {
    /* font-size: 30px; */
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .media-description {
    /* font-size: 22px; */
  }
  .uk-tooltip {
    font-size: 10px;
    padding: 20px;
  }
}

@media (max-width: 739px) {
  .container {
    /* max-width: 540px; */
    margin: 0 auto;
  }
  .media-title {
    /* font-size: 25px; */
    margin: 0;
  }
  .media-description {
    /* font-size: 15px; */
    margin: 5px 5px 15px;
    width: 420px;
  }
  .to-top-href {
    width: 35px;
    height: 35px;
    right: 35px;
    bottom: 25px;
  }
}

@media (max-width: 499px) {
  .container {
    width: calc(100% - 30px);
    margin: 0 auto;
  }
  .media-title {
    font-size: 30px;
  }
  .media-description {
    font-size: 24px;
    font-family: "Gilroy Light";
    width: calc(100% - 0px);
  }
  .uk-tooltip {
    font-size: 8px;
    padding: 15px;
  }
}

@media (max-width: 399px) {
  .uk-tooltip {
    font-size: 7px;
    padding: 12px;
  }
}