/* telegram button start block */
.telegram-container {
  background: #fff;
  margin: 40px 0;
}
#products-telegram-btn {
  margin-top: 0;
}

.telegram-btn-link {
  font-size: 22px;
  border-radius: 40px;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease;
  font-family: "Gilroy Extra Bold";
}
.telegram-btn-link:hover {
  color: #21a7f2;
  text-decoration: none;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(24, 106, 162, 0.3);
  transition: all 0.2s ease;
  opacity: 0.8;
}

.link-gradient-telegram {
  background-image: linear-gradient(#1da5f3, #21a7f2, #23a8f1);
  color: white;
  text-decoration: none;
  transition: all 0.1s ease;
}

.telegram-sign-up-btn-svg-telegram {
  display: inline;
}

.telegram-sign-up-btn-svg-telegram-hover {
  display: none;
}

.telegram-btn-link:hover .telegram-sign-up-btn-svg-telegram-hover {
  display: inline;
}

.telegram-btn-link:hover .telegram-sign-up-btn-svg-telegram {
  display: none;
}
/* telegram button end block */

@media (max-width: 1699px) {
  .telegram-container {
    margin: 50px 0;
  }
}

@media (max-width: 1200px) {
  .telegram-container {
    margin: 35px 0;
  }
  .telegram-btn-link {
    font-size: 22px;
  }
  .telegram-btn-link svg {
    width: 35px;
  }
}

@media (max-width: 959px) {
  .telegram-btn-link {
    /* font-size: 15px;
    padding-top: 14.5px;
    padding-bottom: 10.5px;
    border-radius: 14px */
  }
  #products-telegram-btn {
    margin-bottom: 60px;
}
}

@media (max-width: 719px) {
  .telegram-btn-link {
    font-size: 19px;
  }
}

@media (max-width: 499px) {
  .telegram-btn-link {
    /* font-size: 16px;
    padding: 12px 30px;
    border-radius: 15px; */
  }
}
