/* video block start style */

.video-container {
  background-image: url(../img/video-block-bg.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.video-block {
  padding: 50px 0;
}

.video-text {
}

.video-text h1 {
  margin: 0;
  max-width: 675px;
}

.title-video-block {
  color: #ffffff;
}

.description-video-block {
  /* font-size: 30px; */
  color: #ffffff;
  margin-top: 0;
  text-align: center;
  margin-bottom: 30px;
}

.video-block-iframe {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.video-block-iframe-image {
  position: absolute;
  display: block;
  background-image: url("../img/video-prevu.png");
  background-position: -22px -22px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: 865px 507px;
}

.video-iframe {
  width: 820px;
  height: 461px;
}

/* video block end style */

@media (max-width: 1599px) {
  .video-block {
    padding: 35px 0;
  }
}

@media (max-width: 1400px) {
  .video-block {
    padding: 30px 0;
  }
  .title-video-block {
    margin-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  .title-video-block {
    font-weight: 300;
  }
}

@media (max-width: 959px) {
  .video-iframe {
    width: 640px;
    height: 360px;
  }
  .video-block-iframe-image {
    position: absolute;
    display: block;
    /* background-image: url(../img/video-prevu.png); */
    background-position: -17px -17px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 674px 395px;
  }
}

@media (max-width: 719px) {
  .video-iframe {
    width: 580px;
    height: 320px;
  }
  .video-block-iframe-image {
    background-size: 614px 355px;
  }
}

@media (max-width: 650px) {
  .video-iframe {
    max-width: 100%;
    width: 520px;
    height: 280px;
  }
  .video-block-iframe-image {
    background-size: 554px 315px;
}
}

@media (max-width: 499px) {
  .video-block {
    margin: 0;
    padding: 20px 0;
  }
  .video-iframe {
    width: 340px;
    height: 188px;
  }
  .video-block-iframe-image {
    background-size: 374px 215px;
}
}
